

  /* Header.css */
  .user-header {
  background-color: #99BEF5E6;
  color: rgb(12, 12, 164);             /* Color del texto */
  display: flex;             /* Espacio a los lados */
  box-shadow: 0 24px 18px rgba(0, 0, 0, 0.1); /* Sombra para dar efecto de profundidad */
  z-index: 1000;   
  justify-content: space-between;
}
.buscador-header{
  display: flex;
  align-items: center;
  margin: 10px;
  width: 600px;
}
.bienvenido-user {
  margin-right: 50px;
  color: rgb(12, 12, 164); 
  position: relative; /* Necesario para posicionar el menú */
  font-size: 1.2rem;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.chevron-icon {
  font-size: 0.8rem;
}

.dropdown-menu {
  position: absolute;
  top: 100%; /* Alineado justo debajo del texto */
  right: 0;
  background-color: white;
  color: black;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  min-width: 150px;
  z-index: 1000;
  overflow: hidden;
}

.menu-item {
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  background: none;
  color: black;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s;
}

.menu-item:hover {
  background-color: #f4f4f4;
}


