.tabla_users {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: aliceblue;
  }
  
  .tabla_users th, .tabla_users td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
  }
  .tabla_users th{
    background-color: #ccc;
  } 
  .section-container {
    
    font-family: Arial, sans-serif;
    background-size: cover;
    width: 100vw; /* Ancho completo de la ventana */
    height: 100vh; /* Alto completo de la ventana */
    background-color: #E9F4FACC;
}